/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/03/2016, 22:32:05
    Author     : Antonio Ricardo Andrade Castelo Branco
*/
@CHARSET "UTF-8";
*{box-sizing:border-box;}
html{font:Sans-Serif;}
/*
*Cabeçalho
*/
.container { width: 100%; height: 10%; 
    background: url("../img/acides.png") bottom left 50px no-repeat, url("../img/extr.png") bottom left no-repeat, 
        url(../img/pernambuco.png) bottom right 50px no-repeat; background-size: auto 100%;
     text-align: center; color: blue; font: normal bold 80% Arial; background-color: #fff;
}
#titulo_cabecalho{position: relative; margin-top: 2px; text-align: center;
                          font-size: 180%; color: blue}
body{font-family:Calibri, Tahoma, Arial;}
.cabecalho{width: 100%;}
.menu{position: absolute;width: 12%;height: 60%;left: 10px; font-size: medium; margin-top: 1%;}
iframe[name="principal"]{position: absolute;height: 75%; width:80%; margin: 1% 0 -50% 13%;}
iframe[name="exibe"]{position:absolute;height: 70%; width: 90%;}

/*
*Configuração da página
*/
h1, h2, h3{font-family:Arial; color:maroon; text-align: center;}
#bem_vindo{font-style: italic; width:90%; margin: 2% 0 1% 5%; text-align: right; }
#local{width: 100%; text-align: center;}
/*
*Estilo para tabela
*/
table {	border-collapse:collapse; background:#EFF4FB; border-left:1px solid #686868;
		border-right:1px solid #686868;font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
		color: #333; margin:0 5% 0 5%; width:90%;}
td, th {padding:5px;}
caption {padding: 0 0 .5em 0;text-align: left;font-size: 1.4em; font-weight: bold;
		text-transform: uppercase;color: #333;background: transparent;}
/* =links
----------------------------------------------- */
table a {color:#950000; text-decoration:none;}
table a:link {}
table a:visited {font-weight:normal;color:#950000;text-decoration: line-through;}
table a:hover {border-bottom: 1px dashed #bbb;}
/* =head =foot
----------------------------------------------- */

thead th, tfoot th, tfoot td {background:#333;color:#fff; cursor: default;}
tfoot td {text-align:right}
tbody th, tbody td {border-bottom: dotted 1px #333;}
tbody th {white-space: nowrap;}
tbody th a {color:#333;}
tbody tr:hover {background:#fafafa}
/* formulário
------- */
fieldset { border: 0;}
 
body, input, select, textarea, button {font-family: sans-serif; font-size: 1em;}

form {position: relative; width: 40%; left: 60%; margin-left: -30%; margin-top: 4%;
    background: #EEE; padding: 20px; border-radius: 5px; box-shadow: 5px 5px 0 #323e41;}
 
form fieldset:before, form fieldset:after { content: " "; display: table;}
 
form fieldset:after {clear: both;}
 
div { margin-bottom: 1em;}
 
div label { margin-bottom: 0.2em; color: #666;display: block;}
 
form fieldset div {float:  left;margin-right: 1em;}
 
 input[type="text"],input[type="email"],input[type="url"], input[type="password"],
input[type="tel"],select,textarea {padding: 0.2em;  border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);display: block;}
 
select option { padding-right: 1em;}
 
input:focus, select:focus, textarea:focus {background: #FFC;}
 
label.checkbox {color: #000;display: inline-block;margin-right: 1em;}
 
button, input[type="button"], input[type="submit"] {font-size: 1.5em;background: #38566f;border: 0;margin-bottom: 1em;color: #FFF;
    padding: 0.2em 0.6em; box-shadow: 2px 2px 2px rgba(0,0,0,0.2);text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
 
button:hover { background: #FB0;box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;}
 
button, select, label.checkbox { cursor: pointer;}
/*
Configuração da Div Menu
*/
.menu{position: absolute;width: 12%;height: 60%;left: 10px; font-size: medium; margin-top: 1%;}
iframe[name="principal"]{position: absolute;height: 80%; width:85%; margin: 1% 0 -50% 13%; border-color:  #ccc;}
iframe[name="exibe"]{position:absolute;height: 70%; width: 90%;}
#menu{text-align: center; margin-bottom: 5px; background-color: #EEE;}
button{background-color:white; padding: 10px 30px 10px 30px; width: 130px; margin-left: 5%;}
/*
Configuração do frame
*/
.TabbedPanelsContent iframe{width: 100%; height: 300px;}
/*
Informações 
*/
#information{position: relative; margin: 0 2px 2px 50%; border-style:solid; padding: 2px 2px 2px 2px;height:210px;}
#image{position: absolute; margin: 0 50% 0 0; border-style:solid; padding: 2px 2px 2px 2px; width:48%; height: 210px;}
#image img{height:200px; position:absolute; left: 50%; margin-left: -24%;}

/*
Estilo para página de erro de navegador
*/
.navegador{text-align: center;background-color:white;margin: 10% 35% 0% 35%; padding: 20px 3px 20px 3px; width: 30%;font:15px arial,serif;}
.navegador #img{width:33%; float: left;}

/*
Página Inicial
*/
#init img{position:absolute; left: 50%; top:50%; height: 90%; margin-left: -20%; margin-top: -20%;}
/*
Créditos finais
*/
footer{margin-top: 42%; font-size: smaller;}

#filter{border-radius: 10px;}
.centro{text-align: center; top: 50%; margin-top: 14%;}